# ========================
# PYTHON
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/

# ========================
# AMBIENTE VIRTUAL
# ========================
venv/
env/
.venv/

# ========================
# VARIÁVEIS DE AMBIENTE
# ========================
.env
.env.*

# ========================
# LOGS
# ========================
*.log

# ========================
# ARQUIVOS DO SISTEMA
# ========================
.DS_Store
Thumbs.db

# ========================
# VS CODE
# ========================
.vscode/

# ========================
# BUILD / PACOTES
# ========================
build/
dist/
*.egg-info/

# ========================
# MIGRAÇÕES (ALEMBIC)
# ========================
alembic/versions/*.pyc
